@import "tailwindcss";

@font-face {
  font-family: "Wanted Sans";
  src: url("./assets/fonts/WantedSansVariable.woff2") format("woff2");
  font-style: normal;
  font-weight: 400 1000;
  font-display: swap;
}

/* ========================================
   Typography
======================================== */

@theme {
  --font-sans: "Wanted Sans", ui-sans-serif, system-ui, sans-serif;

  --text-heading: 32px;
  --text-heading--line-height: 1.5;
  --text-heading--font-weight: 700;
  --text-heading--letter-spacing: -0.64px;

  --text-title: 26px;
  --text-title--line-height: 1.5;
  --text-title--font-weight: 700;
  --text-title--letter-spacing: -0.52px;

  --text-subtitle1: 18px;
  --text-subtitle1--line-height: 1.5;
  --text-subtitle1--font-weight: 600;
  --text-subtitle1--letter-spacing: -0.36px;

  --text-subtitle2: 16px;
  --text-subtitle2--line-height: 1.5;
  --text-subtitle2--font-weight: 600;
  --text-subtitle2--letter-spacing: -0.32px;

  --text-body1: 18px;
  --text-body1--line-height: 1.5;
  --text-body1--font-weight: 500;
  --text-body1--letter-spacing: -0.36px;

  --text-body2: 16px;
  --text-body2--line-height: 1.5;
  --text-body2--font-weight: 500;
  --text-body2--letter-spacing: -0.32px;

  --text-body3: 14px;
  --text-body3--line-height: 1.5;
  --text-body3--font-weight: 500;
  --text-body3--letter-spacing: -0.28px;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: var(--font-sans);
  }

  body {
    margin: 0;
  }
}
